<!DOCTYPE html>
<html>

   <head>
     <title>Image Search Abstraction Layer</title>
     <meta charset="utf-8">      
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
     <link href="/public/css/style.css" rel="stylesheet" type="text/css">
     <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css">
   </head>

   <body>
      <div class="container">
        <div class="well">
          <!-- &#128247; == camera -->
         <h1 >Image Search Abstraction Layer &#128247;</h1>
         <p>
          This service accepts a search string as a parameter and will return a set of images relating to the given search string.
          The JSON response includes the image's URL, alt text, thumbnail link, and context link. 
           You can also get a list of the most recently submitted search strings.
          </p>
       
         <h2>Example Creation Usage</h2>
         <p>To retrieve a set of images, pass a search term to path  https://<i></i>img-search-layer-microsrvc.herokuapp.com/api/imagesearch/[SEARCHTERM] </p>
          <p>
            You can also paginate through the responses by adding a ? offset=[number] parameter to the URL path.
          </p>
          
        <h3>Valid Image search API call examples</h3>
        <div class="code-snippet">
         <code>
          https://img-search-layer-microsrvc.herokuapp.com/api/imagesearch/puppies
          <br>
         
          https://img-search-layer-microsrvc.herokuapp.com/api/imagesearch/puppies?offset=2    
         </code>

        </div>

         <h2>Example Creation Output</h2>
         <div class="code-snippet">
          <pre class="json-snippet" id="json-snippet"></pre>
        </div>
         <h2>To get list of the most recent submitted search strings</h2>
         <p>Make a request to:</p>
         <div class="code-snippet">
          <code>  https://img-search-layer-microsrvc.herokuapp.com/api/recent</code>
          <!-- &#128153; == blue heart -->
        </div>
          <p>Enjoy! &#128153;</p>
         
        </div> <!-- well -->
        <footer>
          <p>Github Repo <a href="https://github.com/maribelduran/image-search-abstraction-layer" target="_blank">
          <span class="fa fa-github"></span>
        </a></p>
          <p>
            Built by <a href="https://www.maribelduran.com/" target="_blank">Maribel Duran</a>
          </p>
          </footer>
      </div> <!-- container -->
      <script type='text/javascript' src='/public/js/index.js'></script>
   </body>

</html>