<!DOCTYPE html>
<html>

   <head>
     <title>Image Search Abstraction Layer</title>
     <meta charset="utf-8">      
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
     <link href="/public/css/style.css" rel="stylesheet" type="text/css">
     <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css">
   </head>

   <body>
      <div class="container">
        <div class="well">
          <!-- &#128247; == camera -->
         <h1 >Image Search Abstraction Layer &#128247;</h1>
         <p>
          This service accepts a search string as a parameter and will return a set of images relating to the given search string. 
           The response includes the images URLs, alt text and page urls. 
           You can also get a list of the most recently submitted search strings.
          </p>
       
         <h2>Example Creation Usage</h2>
         <p></p>
        

         <h2>Example Creation Output</h2>
         <p></p>

         <h2>Usage:</h2>
         <p></p>
          <!-- &#128153; == blue heart -->
          <p>Enjoy! &#128153;</p>
         
        </div> <!-- well -->
        <footer>
          <p>Github Repo <a href="https://github.com/maribelduran/image-search-abstraction-layer" target="_blank">
          <span class="fa fa-github"></span>
        </a></p>
          <p>
            Built by <a href="https://www.maribelduran.com/" target="_blank">Maribel Duran</a>
          </p>
          </footer>
      </div> <!-- container -->
   </body>

</html>